#SQL server
SQL_HOST=foodking-sql
SQL_PORT=1433
SQL_USER=sa
SQL_PASSWORD=Bb123456!
SQL_DATABASE=food_king

#api

API_PORT=7003
ASPNETCORE_URLS=http://0.0.0.0:7003/

#rabbitmq
RABBITMQ_HOST=rabbitmq3
RABBITMQ_AMQP_PORT=5672
RABBITMQ_HTTP_PORT=15672
RABBITMQ_USER=user
RABBITMQ_PASSWORD=test